---
import { getCollection, render } from "astro:content";
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE } from "../../consts";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={post.data.title + " - " + SITE_TITLE}
            description={"Blog entry published " +
                post.data.publishDate.toISOString().split("T")[0]}
        />
    </head>
    <body>
        <Header />
        <main>
            <Content />
        </main>
    </body>
</html>
