@tailwind base;

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
	font-style: italic;
	font-display: swap;
}

html {
	@apply bg-black;
	@apply text-white;
}

main {
	@apply mx-auto;
	@apply max-w-4xl;
	@apply px-4;
	@apply mt-16;
	@apply mb-16;
}

p {
	@apply text-base;
	@apply mb-1;
	@apply leading-relaxed;
}

a,
a:link {
	@apply underline;
	@apply text-orange-400;
	@apply transition-colors;
}

a:hover {
	@apply text-orange-600;
}

hr {
	@apply my-4;
}

ul {
	@apply list-disc;
	@apply pl-6;
}

li {
	@apply mb-1;
}