@tailwind base;

@font-face {
	font-family: 'Courier Prime';
	src: url('/fonts/CourierPrime-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Courier Prime';
	src: url('/fonts/CourierPrime-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

main {
	@apply mx-auto;
	@apply max-w-4xl;
	@apply px-4;
	@apply mt-16;
	@apply mb-16;
}
p {
	@apply text-base;
	@apply mb-1;
	/* @apply leading-relaxed; */
}
a, a:link {
	@apply underline;
	@apply text-orange-400;
	@apply transition-colors;
}

a:hover {
	@apply text-orange-600;
}
hr {
	@apply my-4;
}
ul {
	@apply list-disc;
	@apply pl-6;
}
li {
	@apply mb-1;
}
