---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<b><p class="text-2xl mb-2">Hi. Hendy Serrano here.</p></b>
			<p class="text-xl">For work stuff check my <a href="/work">work</a> page.</p>
			<hr />
			<p>Here's a pic of my cats:</p>
			<div class="card max-h-96 max-w-96">
				<img src="/nekopi1.jpg" alt="Neko and Copi" class="front" />
				<img src="/nekopi2.jpg" alt="Neko and Copi again" class="back" />
			</div>
		</main>
		<style>
			.card {
				transform-style: preserve-3d;
				position: relative;
			}
			.front,
			.back {
				@apply rounded-full mt-4;
				transition: all 0.25s linear;
				backface-visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
			}
			.front {
				transform: rotateY(0deg);
				z-index: 2;
			}
			.card:hover .front {
				transform: rotateY(180deg);
			}
			.back {
				transform: rotateY(180deg);
				z-index: 1;
			}
			.card:hover .back {
				transform: rotateY(0deg);
			}
		</style>
	</body>
</html>
