---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div>
				<p><b>Hi. I'm Hendy Serrano.</b></p>
				<p>
					Full-stack developer. Based in Spain. <br />
					Currently working at <a target="_blank" rel="noopener noreferrer" href="https://www.cyferd.com/">Cyferd</a>. <br/>
					Only open to full-remote positions.
				</p>
			</div>
			<hr />

			<div>
				<!-- TODO: Copy email to clipboard instead? -->
				<p>
					<b><a href="mailto:hendy@hserrano.me">hendy@hserrano.me</a></b> |
					<b
						><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/hendy-serrano/">LinkedIn</a
						></b
					> |
					<b><a href="https://github.com/hserranome">Github</a></b> |
					<b><a target="_blank" href="/documents/Hendy Serrano - Resume 2024.pdf">Resume</a></b>
				</p>
			</div>
			<hr />

			<div>
				<p><b>Education.</b></p>
				<p>Learned on my own. Started doing it for a living on 2018.</p>
			</div>
			<hr />

			<div>
				<p><b>Technologies.</b> <span>in order of relevance</span></p>
				<ul>
					<li>Typescript</li>
					<li>React</li>
					<li>React Native</li>
					<li>TailwindCSS</li>
					<li>Next.js</li>
					<li>PostgreSQL/MySQL</li>
					<li>Node.js/Express</li>
					<li>PHP/Laravel</li>
					<li>Dev team management</li>
					<li>Design and architecture planning</li>
					<li>UI/UX design</li>
					<li>Client management</li>
					<li>Server work, CI/CD, monitoring, Docker, etc.</li>
					<li>Little bit of Python</li>
					<li>Little bit of MongoDB</li>
				</ul>
			</div>
			<hr />

			<div>
				<p><b>Projects I've worked on.</b></p>
				<ul>
					<li><a target="_blank" rel="noopener noreferrer" href="https://cyferd.com">Cyferd</a></li>
					<li><a target="_blank" rel="noopener noreferrer" href="https://www.hobeen.com/">Hobeen</a></li>
					<li><a target="_blank" rel="noopener noreferrer" href="https://recomiend.app/">Recomiend.app</a></li>
					<li>
						<a
							target="_blank"
							rel="noopener noreferrer"
							href="https://www.linkedin.com/company/trabajosremotos/posts/?feedView=all">Trabajosremotos</a
						>
						<span>defunct</span>
					</li>
					<li>
						<a
							target="_blank"
							rel="noopener noreferrer"
							href="https://play.google.com/store/apps/details?id=com.seetyz.android&hl=en">Seetyz</a
						>
						<span>not sure if active anymore</span>
					</li>
				</ul>
				<span>And more but I don't think they are too relevant.</span>
			</div>
			<hr />

			<div>
				<p>Worn many hats. Things that come from working with startups and agencies.</p>
				<p>
					Currently trying to keep things simple with <a
						target="_blank"
						rel="noopener noreferrer"
						href="https://astro.build/">Astro</a
					>, <a target="_blank" rel="noopener noreferrer" href="https://htmx.org/">HTMX</a>, and <a
						target="_blank"
						rel="noopener noreferrer"
						href="https://pocketbase.io/">Pocketbase</a
					>. <br />
				</p>
			</div>
		</main>

		<style>
			span {
				@apply text-gray-400;
			}
			ul {
				@apply mb-2;
			}
		</style>
	</body>
</html>
